::-webkit-scrollbar {
    display: none;
}

#slide-show {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
    min-width: 100vw !important;
}

.slide-text {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.slide-text b {
    font-weight: 400;
}

.slide-text h2 {
    font-weight: 200;
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1px;
    color: #fff;
}

.slidex {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: -1;
}

.activx {
    opacity: 1;
}

.slideshow-nav {
    position: absolute;
    bottom: 50%;
    width: 100vw;
    min-width: 100vw !important;
    font-size: 30px;
    background: transparent;
}

.previousx {
    float: left;
    color: #000;
}

.nextx {
    float: right;
}

.bg1,
.bg2,
.bg3,
.bg4 {
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
    background-image: url("https://images.pexels.com/photos/4058232/pexels-photo-4058232.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
    min-width: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
}

.bg2 {
    background-image: url("https://images.pexels.com/photos/806427/pexels-photo-806427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.bg3 {
    background-image: url("https://image.freepik.com/free-vector/medical-service-logos-vector-set_53876-62795.jpg");
}

.bg4 {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/12/13/08/heart-care-1040229_1280.png");
}

.slider-center {
    position: absolute;
    height: 15%;
    width: 50%;
    left: 50%;
    top: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    letter-spacing: 2px;
}

.nav-link {
    transition: all 0.4s;
    padding: 15px;
    color: #000;
    opacity: 0.2;
    font-size: 40px;
}

.nav-link:hover {
    color: #000;
    font-size: 80px;
    opacity: 0.8;
}

.arrow a {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 80px;
    padding: 0 0 20px 0;
    opacity: 0.2;
}

.arrow a:hover {
    color: rgb(7, 7, 7);
    font-size: 100px;
    opacity: 0.8;
}

#unten {
    width: 100vw;
    min-width: 100vw !important;
    height: 800px;
    background-color: #999;
}